{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="my-tasks-list">
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            <h1>Tasks Assigned to Me</h1>
            {% if not my_tasks %}
                <p>You have no tasks</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in my_tasks %}
                            <tr>
                                <td><a href="{% url 'edit_task' task.id %}">{{ task.name }}</a></td>
                                <td>{{ task.start_date|date:"F j, Y" }}</td>
                                <td>{{ task.due_date|date:"F j, Y"  }}</td>
                                <td>{{ task.is_completed|yesno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <div class="my-tasks-list">
            <h1>Tasks I've Assigned to Others</h1>
            {% if not others_tasks %}
                <p>You have not assigned any tasks to others</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assigned to</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in others_tasks %}
                            <tr>
                                <td><a href="{% url 'edit_task' task.id %}">{{ task.name }}</a></td>
                                <td>{{ task.assignee.first_name }} {{ task.assignee.last_name }}</td>
                                <td>{{ task.start_date|date:"F j, Y"  }}</td>
                                <td>{{ task.due_date|date:"F j, Y"  }}</td>
                                <td>{{ task.is_completed|yesno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        {% for group in user.groups.all %}
            {% if group.name == 'Managers' %}
                <div class="team-tasks-list">
                    <h1>Team Tasks</h1>
                    {% if not team_tasks %}
                        <p>Your team does not have any other tasks</p>
                    {% else %}
                        <table>
                            <thead>
                                <tr>
                                    <th>Project</th>
                                    <th>Task Name</th>
                                    <th>Assigned to</th>
                                    <th>Start date</th>
                                    <th>Due date</th>
                                    <th>Is completed</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in team_tasks %}
                                    <tr>
                                        <td><a href="{% url 'show_project' task.project.id %}">{{ task.project.name }}</a></td>
                                        <td><a href="{% url 'edit_task' task.id %}">{{ task.name }}</a></td>
                                        <td>{{ task.assignee.first_name }} {{ task.assignee.last_name }}</td>
                                        <td>{{ task.start_date|date:"F j, Y"  }}</td>
                                        <td>{{ task.due_date|date:"F j, Y"  }}</td>
                                        <td>{{ task.is_completed|yesno }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </main>
{% endblock content %}
